/* ~~~~~~~~~~Overall Styling~~~~~~~~~~~ */

body,
:hover {
    cursor: url(http://cur.cursors-4u.net/others/oth-1/oth28.cur), progress !important;
}

body {
    background: rgb(240, 241, 241);
    font-family: 'Signika Negative', sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
}

h1 {
    color: rgb(100, 100, 100);
    font-size: 30px;
    padding: 0 0 5px 0;
}

h3 {
    color: rgb(177, 177, 177);
    font-family: 'Signika Negative', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 5px 0 5px 15px;
}

i {
    margin-right: 10px;
}

figure {
    margin: 0;
    padding: 0;
}

/* ~~~~~~~~~~Left Nav Styling~~~~~~~~~~~ */

.subtext {
    fill: rgb(70, 70, 70);
    font-family: 'Signika Negative', sans-serif;
    font-size: .2rem;
    font-weight: 400;
}

#left-nav {
    background: rgb(55, 64, 80);
    height: 1350px;
    min-width: 180px;
    position: absolute;
    width: 200px;
}

.nav-text {
    color: rgb(177, 177, 177);
    font-family: 'Signika Negative', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    margin: auto 0 auto 15px;
    padding: 5px 0 5px 0;
    width: 100%;
}

.Bill {
    margin: 0 0 0 5px;
    text-align: center;
}

.nav-text:hover {
    color: #FFF;
}

.nav-container {
    border-bottom: solid 2px rgb(40, 47, 59);
    padding: 15px 0 15px 0;
    width: 100%;
}

.head-shot {
    border-radius: 100%;
    margin: 12% 25% 4% 25%;
    text-align: center;
    transition: all .2s ease-in-out;
    width: 50%;
}

.head-shot:hover {
    transform: scale(1.2);
}

.side-boxes {
    align-items: center;
    display: flex;
    border: solid 3px transparent;
    text-align: left;
    height: 40px;
    width: 100%;
}

.side-boxes:hover {
    border-left: solid 3px rgb(248, 173, 148);
    background-color: rgb(40, 47, 59);
    color: #FFF;
    overflow: hidden;
    width: 98%;
}

.rose:hover {
    border-left: solid 3px rgb(246, 122, 131);
}

.purple:hover {
    border-left: solid 3px rgb(150, 100, 128);
}

.categories {
    margin-bottom: 12px;
}

/* ~~~~~~~~~~Right Nav Styling~~~~~~~~~~~ */

#right-content {
    height: auto;
    margin-left: 200px;
    position: absolute;
    right: 0;
}

.top-heading {
    background-color: rgb(55, 64, 80);
    display: none;
    height: 60px;
    width: 100%;
}

.top-bar {
    display: flex;
}

.square-container {
    background-color: #FFF;
    border-bottom: solid 1px rgb(177, 177, 177);
    border-left: solid 1px rgb(177, 177, 177);
    height: 60px;
    width: 60px;
}

.square-container:hover {
    background-color: rgb(246, 122, 131);
}

.square-container-left {
    background-color: #FFF;
    border-bottom: solid 1px rgb(177, 177, 177);
    border-right: solid 1px rgb(177, 177, 177);
    height: 60px;
    width: 60px;
}

.square-container-left:hover {
    background-color: rgb(246, 122, 131);
}

.search-container {
    background-color: #FFF;
    border-bottom: solid 1px rgb(177, 177, 177);
    flex-grow: 1;
    height: 60px;
}

.icon-menu,
.icon-user-add,
.icon-export,
.icon-globe,
.icon-search {
    color: rgb(100, 100, 100);
    font-size: 1.5rem;
    line-height: 60px;
    margin: 0;
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: bottom;
    display: inline-block;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=1634);
}

.icon-menu:hover {
    color: #FFF;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=1634);
}

.icon-user-add:hover {
    color: #FFF;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=1634);
}

.icon-export:hover {
    color: #FFF;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=1634);
}

.icon-globe:hover {
    color: #FFF;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=1634);
}

text {
    fill: rgb(100, 100, 100);
    font-size: .5rem;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 700;
}

.graph {
    width: 36%;
    margin: 10px 0 10px 60px;
    vertical-align: top;
    display: inline;
}

.margin-left {
    margin-left: -10px;
}

.search-input {
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 50px;
    width: 80%;
    margin-top: 5px;
    vertical-align: top;
}

.top-tab-section {
    background-color: #FFF;
    border-bottom: solid 1px rgb(177, 177, 177);
    padding: 35px 35px 0 35px;
    /* display: flex; */
}

.location {
    color: rgb(100, 100, 100);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0 0 20px -5px;
}

.open-btn {
    border-radius: 20px;
    height: 40px;
    margin-right: 7px;
    width: 100px;
    color: rgb(100, 100, 100);
    font-family: 'Signika Negative',sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.open-btn:hover {
    background-color: rgb(240, 241, 241);
}

.open-btn i {
    color: rgb(246, 122, 131);
}

.bookmark-btn {
    border-radius: 100%;
    height: 40px;
    margin-right: 7px;
    width: 40px;
    color: rgb(100, 100, 100);
    font-size: 14px;
}

.bookmark-btn:hover {
    background-color: rgb(240, 241, 241);
}

.edited-btn {
    border-radius: 100%;
    height: 40px;
    margin-right: 7px;
    width: 40px;
    color: rgb(100, 100, 100);
    font-size: 14px;
}

.edited-btn:hover {
    background-color: rgb(240, 241, 241);
}

.trash-btn {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    color: rgb(100, 100, 100);
    font-size: 14px;
}

.trash-btn:hover {
    background-color: rgb(240, 241, 241);
}


.trash-btn i {
    margin: auto;
}

.edited-btn i {
    margin: auto;
}

.bookmark-btn i {
    margin: auto;
}

.four-btns {
    position: absolute;
    right: 30px;
    top: 100px;
}

.preview {
    color: rgb(209, 110, 131);
    cursor: url(../images/lightsaberred.cur);
}

.tab-containers {
    border-bottom: solid 3px transparent;
    display: inline-block;
    margin: 5px 10px 0px 15px;
    padding-bottom: 10px;
    text-align: center;
}

.tab-containers:hover {
    border-bottom: solid 3px rgb(209, 110, 131);
}

.tabs {
    color: rgb(177, 177, 177);
    font-family: 'Signika Negative', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .5px;
    padding: 10px 0px 10px 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.first-tab {
    margin-left: 0;
}

.tabs:hover {
    color: rgb(100, 100, 100);
}

.infographics {
    padding: 30px 30px;
}

.btn-container {
    border-bottom: solid 1px rgb(177, 177, 177);
    display: flex;
    justify-content: space-around;
}

.graph-btn {
    border-radius: 25px;
    color: rgb(100, 100, 100);
    display: inline-block;
    font-family: 'Signika Negative', sans-serif;
    font-size: 13px;
    height: 40px;
    justify-content: space-around;
    margin: 20px 0 30px 30px;
    text-decoration: none;
    width: 140px;
}

.graph-btn:hover {
    background-color: rgb(55, 64, 80);
    color: #FFF;
}

.table {
    border-radius: 3px;
    background-color: #FFF;
    display: inline-block;
    margin-top: 30px;
    width: 65%;
}

.social-side {
    display: inline-block;
    float: right;
    height: 600px;
    margin-top: 30px;
    width: 31%;
}

.job-header {
    background-color: rgb(150, 100, 128);
    border-radius: 3px 3px 0 0;
    width: 100%;
}

.table-row {
    border-bottom: solid 1px rgb(177, 177, 177);
    margin: auto;
    width: 90%;
}

.table-row:after {
    clear: both;
    content: "";
    display: table;
}

.table-text {
    color: rgb(100, 100, 100);
    display: inline-block;
    font-family: 'Signika Negative', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .75px;
    margin: 0;
    padding: 30px 0 30px 0;
    vertical-align: top;
}

.table-column-one {
    display: inline-block;
    width: 25%;
}

.table-column-two {
    display: inline-block;
    float: right;
    width: 70%;
}

.yoda {
    border-radius: 100%;
    display: inline-block;
    height: 40px;
    margin: 13px 10px 0 0;
    width: 40px;
}

.white {
    color: #FFF;
}

.edit-btn {
    border-radius: 5px;
    background-color: rgb(150, 100, 128);
    border: solid 1px #FFF;
    color: #FFF;
    font-family: 'Signika Negative', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 18px;
    padding: 7px 10px;
    text-decoration: none;
}

.edit-btn:hover {
    background-color: #FFF;
    color: rgb(150, 100, 128);
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.fb-btn {
    background-color: rgb(80, 111, 186);
    border-radius: 3px;
    color: #FFF;
    font-family: 'Signika Negative', sans-serif;
    font-size: 14px;
    height: 45px;
    margin-bottom: 15px;
    width: 100%;
}

.twit-btn {
    background-color: rgb(72, 168, 233);
    border-radius: 3px;
    color: #FFF;
    height: 45px;
    font-family: 'Signika Negative', sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    width: 100%;
}

.linked-btn {
    background-color: rgb(54, 128, 183);
    border-radius: 3px;
    color: #FFF;
    height: 45px;
    font-family: 'Signika Negative', sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    width: 100%;
}

.fb-btn:hover {
    background-color: #617fc5;
}

.twit-btn:hover {
    background-color: rgb(105, 182, 233);
}

.linked-btn:hover {
    background-color: rgb(79, 135, 179);
}

.social-container {
    border-bottom: solid 1px rgb(177, 177, 177);
    padding-bottom: 30px;
    width: 100%;
}

.social-text {
    color: rgb(100, 100, 100);
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0 0 0;
}

.soc-padding {
    padding: 10px 0 15px 0;
}

.soc-input {
    border: solid 1px rgb(177, 177, 177);
    border-radius: 3px;
    height: 45px;
    padding: 10px 0 10px 15px;
    width: 75%;
}

.soc-input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.copy-btn {
    background-color: rgb(55, 64, 80);
    border-radius: 3px;
    color: #FFF;
    height: 45px;
    vertical-align: top;
    width: 23%;
}

.copy-btn:hover {
    background-color: rgb(209, 110, 131);
}

.no-btn {
    width: 100%;
}

.no-border {
    border: none;
}

.appear {
    display: none;
}

.tab-menu {
    height: 45px;
    margin: 30px 0 15px 0;
}

/* ~~~~~~~~~~Checkbox Styling~~~~~~~~~~~ */

.control {
    color: rgb(177, 177, 177);
    display: block;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .5px;
    margin: 5px 0 5px 0;
    padding: 8px 0 8px 0;
    position: relative;
    padding-left: 47px;
    padding-top: 5px;
}

.control input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.control_indicator {
    background: rgb(248, 173, 148);
    border: 1px solid rgb(177, 177, 177);
    height: 13px;
    left: 0;
    margin-left: 18px;
    position: absolute;
    top: 3px;
    width: 13px;
}

.control_indicator-2 {
    background: rgb(246, 122, 131);
    border: 1px solid rgb(177, 177, 177);
    height: 13px;
    left: 0;
    margin-left: 18px;
    position: absolute;
    top: 3px;
    width: 13px;
}

.control_indicator-3 {
    background: rgb(209, 110, 131);
    border: 1px solid rgb(177, 177, 177);
    left: 0;
    height: 13px;
    margin-left: 18px;
    position: absolute;
    top: 3px;
    width: 13px;
}

.control_indicator-4 {
    background: rgb(150, 100, 128);
    border: 1px solid rgb(177, 177, 177);
    left: 0;
    height: 13px;
    margin-left: 18px;
    position: absolute;
    top: 3px;
    width: 13px;
}

.control-radio .control_indicator {
    border-radius: undefined;
}

.control:hover input~.control_indicator,
.control input:focus~.control_indicator {
    background: #FFF;
}

.control:hover input~.control_indicator-2,
.control input:focus~.control_indicator-2 {
    background: #FFF;
}

.control:hover input~.control_indicator-3,
.control input:focus~.control_indicator-3 {
    background: #FFF;
}

.control:hover input~.control_indicator-4,
.control input:focus~.control_indicator-4 {
    background: #FFF;
}

.control input:checked~.control_indicator {
    background: rgb(53, 92, 125);
}

.control input:checked~.control_indicator-2 {
    background: rgb(53, 92, 125);
}

.control input:checked~.control_indicator-3 {
    background: rgb(53, 92, 125);
}

.control input:checked~.control_indicator-4 {
    background: rgb(53, 92, 125);
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    display: none;
    position: absolute;
}

.control_indicator-2:after {
    box-sizing: unset;
    content: '';
    display: none;
    position: absolute;
}

.control_indicator-3:after {
    box-sizing: unset;
    content: '';
    display: none;
    position: absolute;
}

.control_indicator-4:after {
    box-sizing: unset;
    content: '';
    display: none;
    position: absolute;
}

.control input:checked~.control_indicator:after {
    display: block;
}

.control input:checked~.control_indicator-2:after {
    display: block;
}

.control input:checked~.control_indicator-3:after {
    display: block;
}

.control input:checked~.control_indicator-4:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    left: 3px;
    height: 5px;
    top: 1px;
    transform: rotate(45deg);
    width: 3px;
}

.control-checkbox .control_indicator-2:after {
    border-width: 0 2px 2px 0;
    border: solid #ffffff;
    height: 5px;
    left: 3px;
    top: 1px;
    transform: rotate(45deg);
    width: 3px;
}

.control-checkbox .control_indicator-3:after {
    border-width: 0 2px 2px 0;
    border: solid #ffffff;
    height: 5px;
    left: 3px;
    top: 1px;
    transform: rotate(45deg);
    width: 3px;
}

.control-checkbox .control_indicator-4:after {
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    height: 5px;
    left: 3px;
    top: 1px;
    transform: rotate(45deg);
    width: 3px;
}

label {
    font-size: 14px;
}

@media only screen and (max-width: 1100px) {
    .table-text {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1000px) {
    #left-nav {
        display: none;
    }
    #right-content {
        height: auto;
        position: absolute;
        right: 0;
        width: 100%;
    }
    .table-text {
        font-size: 14px;
    }

     .top-heading {
         background-color: rgb(55, 64, 80);
         display: flex;
         height: 60px;
         width: 100%;
     }

     .top-heading-text {
         align-self: center;
         font-size: 20px;
         padding: 0;
     }

     .hide-hamburger {
         display: none;
     }
     
     .four-btns {
         display: none;
     }
}

@media only screen and (max-width: 800px) {
    .table {
        background-color: #FFF;
        display: inline-block;
        margin-top: 30px;
        width: 100%;
    }
    .social-side {
        display: inline-block;
        float: none;
        height: 600px;
        margin-top: 30px;
        width: 100%;
    }
    .fb-btn {
        width: 33%;
    }
    .twit-btn {
        width: 32%;
    }
    .linked-btn {
        width: 33%;
    }
    .social-container {
        border-bottom: solid 1px rgb(177, 177, 177);
        padding-bottom: 30px;
        width: 100%;
    }
    
    .social-text {
        color: rgb(100, 100, 100);
        font-weight: 700;
        font-size: 20px;
        margin: 15px 0 0 0;
    }
    
    .soc-padding {
        padding: 10px 0 15px 0;
    }
    
    .soc-input {
        border: solid 1px rgb(177, 177, 177);
        border-radius: 3px;
        height: 45px;
        padding: 10px 0 10px 15px;
        width: 84%;
    }
    .soc-input::placeholder {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }
    .copy-btn {
        width: 15%;
    }
    
    .copy-btn:hover {
        background-color: rgb(209, 110, 131);
    }
    
    .no-btn {
        width: 100%;
    }
    
    .infographics {
        margin: auto;
    }
    
    .graph {
        display: block;
        margin: auto;
        vertical-align: top;
        width: 80%;
    }
    .donut {
        width: 30%;
    }
    .margin-left {
        margin-left: 4%;
    }
    .graph-btn {
        margin: 20px 0 30px 0px;
    }
  
    .tab-containers {
        display: none;
    }
    .appear {
        display: block;
    }
    .tab-menu-btn {
        background-color: rgb(150, 100, 128);
        border-radius: 3px;
        color: #FFF;
        height: 45px;
        font-family: 'Signika Negative', sans-serif;
        font-size: 14px;
        margin: auto;
        text-decoration: none;
        width: 100%;
    }
    .tab-menu-btn:hover {
        background-color: #FFF;
        color: rgb(100, 100, 100);
    }
}

@media only screen and (max-width: 550px) {
    .fb-btn {
        width: 100%;
    }
    .twit-btn {
        width: 100%;
    }
    .linked-btn {
        width: 100%;
    }
    .hide-box {
        display: none;
    }
    h1 {
        font-size: 28px;
    }
    .table-column-one {
        display: block;
        width: 100%;
    }
    .table-column-two {
        display: block;
        float: none;
        width: 100%;
    }
    .table-text {
        display: inline-block;
        padding: 20px 0 15px 0;
        vertical-align: top;
    }
    .edit-btn {
        float: right;
        margin: -40px 0px 0 0;
    }
    .roboto {
        padding: 0 0 20px 0;
    }
}

@media only screen and (max-width: 450px) {
    .soc-input {
        width: 75%;
    }
    .copy-btn {
        width: 23%;
    }
    .no-btn {
        width: 100%;
    }
    .table-text {
        font-size: 13px;
    }
    h1 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 375px) {
    .search-input {
        font-size: 14px;
    }
    h1 {
        font-size: 22px;
    }
    .graph-btn {
        font-size: 12px;
        width: 120px;
    }
}